
<div class="container">
<h2>Welcome <%= User.get(params[:id]).username.capitalize %>!</h2> 
 
 
<!-- search sql db to query name by user id. -->
	<div class = "panel panel-default">
	<div class = "panel-heading text-center">Current Active Games</div>	
	<table class ="table">
		<tr>
			<th>Opponent Name</th>
			<th>Choice History</th>
			<th>Games Won</th>
			<th class ="pull-right" style ="padding-right: 50px;">Actions</th>
		</tr>	
		<% @active_matches.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				<td>
					<!-- <div class="btn-group pull-right">
					<form action='/auth/primary' method='post'>
					  <button type="submit" value="rock" class="btn btn-default">The Rock</button>
					</form>
					<form action='/auth/primary' method='post'>
					  <button type="submit" value="paper" class="btn btn-default">Papar</button>
					 </form>
					 <form action='/auth/primary' method='post'>
					  <button type="submit" value="scissors" class="btn btn-default">Slizers</button>
					</form>
					</div> -->
				<%if Game.active_game?(x) != nil %>
					<form method="post" action="/auth/primary">
						
							<div class="input-group col-md-3">
						
						      <span class="input-group-addon">
						        <input type="radio" name="radio" value ="rock"> The Rock
						      </span>
						   
						      <span class="input-group-addon">
						        <input type="radio" name="radio" value ="paper"> Papar
						      </span>

						      <span class="input-group-addon">
						        <input type="radio" value ="scissors" name="radio"> Slizers
						      </span>
								<input type="submit" value="submit">
						    </div>
						</p>
					</form>	
				<%end%>
				</td>
			</tr>
		<% end %>
		<% @active_matches2.each do |x| %>
			<tr>
				<td><%= User.get(x.user1).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				<td>
					<!-- <div class="btn-group pull-right">
					<form action='/auth/secondary' method='post'>
					  <button type="submit" value = "rock" class="btn btn-default">The Rock</button>
					</form>
					  <form action='/auth/secondary' method='post'>
					  <button type="submit" value = "paper" class="btn btn-default">Papar</button>
					</form>
					<form action='/auth/secondary' method='post'>
					  <button type="submit" value = "scissors" class="btn btn-default">Slizers</button>
					</form> -->
					<!-- </div> -->
				<% if Game.user1_played?(x) %>
					<form method="post" action="/auth/secondary">
							<div class="input-group col-md-3">
						
						      <span class="input-group-addon">
						        <input type="radio" name="radio" value ="rock"> The Rock
						      </span>
						   
						      <span class="input-group-addon">
						        <input type="radio" name="radio" value ="paper"> Papar
						      </span>

						      <span class="input-group-addon">
						        <input type="radio" value ="scissors" name="radio"> Slizers
						      </span>
							<input type="submit" value="submit">
						    </div>
						</p>
					</form>	
				<%end%>
				</td>
			</tr>
		<% end %>
	</table>
	</div>

	<div class = "panel panel-default">
	<div class = "panel-heading text-center"> Completed Games</div>		
	<table class ="table">
		<tr>
			<th>Opponent Name</th>
			<th>History</th>
			
		</tr>
		<% @completed_matches.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				
			</tr>
		<% end %>
		<% @completed_matches2.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				
			</tr>
		<% end %>	
	</table>
	</div>

</div>