
<div class="container">
<h2>Welcome <%= User.get(params[:id]).username.capitalize %>!</h2> 
 
 
<!-- search sql db to query name by user id. -->
	<div class = "panel panel-default">
	<div class = "panel-heading text-center">Current Active Games</div>	
	<table class ="table">
		<tr>
			<th>Opponent Name</th>
			<th>Choice History</th>
			<th>Games Won</th>
			<th class ="pull-right" style ="padding-right: 50px;">Actions</th>
		</tr>	
		<% @active_matches.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				<td>
					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default">The Rock</button>
					  <button type="button" class="btn btn-default">Papar</button>
					  <button type="button" class="btn btn-default">Slizers</button>
					</div>
				</td>
			</tr>
		<% end %>
		<% @active_matches2.each do |x| %>
			<tr>
				<td><%= User.get(x.user1).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				<td>
					<div class="btn-group pull-right">
					<form action='/auth/rock_submit_primary' method='post'>
					  <button type="submit"  class="btn btn-default">The Rock</button>
					</form>
					  <button type="button" class="btn btn-default">Papar</button>
					  <button type="button" class="btn btn-default">Slizers</button>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
	</div>

	<div class = "panel panel-default">
	<div class = "panel-heading text-center"> Completed Games</div>		
	<table class ="table">
		<tr>
			<th>Opponent Name</th>
			<th>History</th>
			
		</tr>
		<% @completed_matches.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				
			</tr>
		<% end %>
		<% @completed_matches2.each do |x| %>
			<tr>
				<td><%= User.get(x.user2).username.capitalize %></td>
				<td><%= x.winner %></td>
				<td></td>
				
			</tr>
		<% end %>	
	</table>
	</div>

</div>